<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tablica Ogłoszeń{% endblock %}</title>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </head>
{% endblock %}
{% block body %}
    <body>

    <div class="container">

        <div class="header">
            <a href="/" class="plink"><h1>Tablica ogłoszeń</h1></a>
        </div>

        {% block menu %}
            <div class="nav">
                <ol>
                    <li><a href="/">Ogłoszenia</a>
                        <ul>
                            <li><a href="/">Samochody</a></li>
                            <li><a href="/">Meble</a></li>
                            <li><a href="/">Domy</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('notices_new') }}">Dodaj</a></li>
                    {% endif %}
                    {% if not is_granted('ROLE_USER') %}
                        <li><a href="{{path('fos_user_registration_register')}}">Zarejestruj się</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Zaloguj się</a></li>
                    {% endif %}
                </ol>
            </div>
        {% endblock %}

        {% block comments %}
            <div class="comments">
                <form action="/html/tags/html_form_tag_action.cfm" method="post">
                    <div>
            <textarea name="comments" id="comments" style="font-family:sans-serif; font-size:1.2em;"></textarea>
                    </div>
                    <input type="submit" value="Dodaj komentarz">
                </form>
            </div>
        {% endblock %}

        <div class="search-bar">
            <form method="GET" action="" class="js-sea-search sea-search">
                <input type="search" name="q" placeholder="Search Sea Creatures" autocomplete="off"
                       class="search-input">
            </form>
        </div>
    </div>

    {% block javascripts %}
        <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
    </body>
{% endblock %}
</html>