{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista ogłoszeń</h1>

    <table>
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td><a href="{{ path('notices_show', { 'id': notice.id }) }}">{{ notice.id }}</a></td>
                <td>{{ notice.title }}</td>
                <td>{{ notice.description }}</td>
                <td>{% if notice.date %}{{ notice.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notices_show', { 'id': notice.id }) }}">Pokaż ogłoszenie</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('notices_edit', { 'id': notice.id }) }}">Edytuj ogłoszenie</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notices_new') }}">Dodaj nowe ogłoszenie</a>
        </li>
    </ul>
{% endblock %}
