{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodaj ogłoszenie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.imageName) }}
    <input type="submit" value="Dodaj ogłoszenie"/>
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('notices_index') }}">Wróć do listy</a>
        </li>
    </ul>
    <div><p><a href="/">Strona Główna</a></p></div>
{% endblock %}

