{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ogłoszenie</h1>
    <table>
        <tbody>
            <tr>
                <th>Kategoria</th>
                <td>{{ notice.categories.id }}</td>
            </tr>
            <tr>
                <th>Tytuł</th>
                <td>{{ notice.title }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ notice.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ notice.imageName }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if notice.date %}{{ notice.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('notices_edit', { 'id': notice.id }) }}">Edytuj ogłoszenie</a></li>
        {% endif %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń ogłoszenie">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('notices_index') }}">Powrót do listy</a>
        </li>
    </ul>
{% endblock %}
