{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-cell">
        <tbody>
        <tr>
            <th>Kategoria</th>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <th>Tytuł</th>
            <td>{{ notice.title }}</td>
        </tr>
        <tr>
            <th>Opis</th>
            <td>{{ notice.description }}</td>
        </tr>
        <tr>
            <th>Data wygaśnięcia</th>
            <td>{% if notice.date %}{{ notice.date|date('d-m-Y') }}{% endif %}</td>
        </tr>
        {% if notice.imageName %}
            <tr>
                <th><a href="{{ asset('uploads/img/' ~ notice.imageName) }}"><img
                                src=" {{ asset('uploads/img/' ~ notice.imageName) }}" alt="Example" width="400"
                                height="375" title="Zobacz zdjęcie"/></a></th>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if notice.comments %}
        {% for comment in notice.comments %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="comment-container d-inline-block pl-3 align-top">
                        <span class="commenter-name">Autor: {{ comment.name }} </span>
                        <span class="comment">Treść komentarza: {{ comment.description }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {{ include('comment/new.html.twig') }}

    <ul class="mt-5 list-group">
        {% if is_granted('ROLE_USER') %}
            <li>
                <a class="btn btn-info btn-block" href="{{ path('notices_edit', { 'id': notice.id }) }}">Edytuj
                    ogłoszenie</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Usuń ogłoszenie">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
        <li>
            <a class="btn btn-info btn-block" href="{{ path('notices_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a class="btn btn-success btn-block mt-5" href="/">Strona Główna</a>
        </li>
    </ul>

{% endblock %}
